@model BHX_2.Models.User
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form class="form-login" action="ForgotPassword" method="get">
    <div style="text-align: center; margin-left: 25px">
        Tên tài khoản: @Model.Username
    </div>
    <div style="text-align: center; margin-left: 25px">
        Tên: @Model.HoTen
    </div>
    <div style="text-align: center; margin-left: 25px">
        Ngày sinh: @Model.ngaySinh.ToString("dd/MM/yyyy")
    </div>
    <div style="text-align: center; margin-left: 25px">
        Địa chỉ: @Model.DiaChi
    </div>
    <div style="text-align: center; margin-left: 25px">
        Email: @Model.Email
    </div>
    <div style="text-align: center; margin-left: 25px">
        Số điện thoại: @Model.Phone
    </div>
    <div style="text-align: center; margin-left: 25px">
        @Html.ActionLink("Đổi mật khẩu", "ChangePass", "User")
    </div>
    <div style="text-align: center; margin-left: 25px">
        @Html.ActionLink("Cập nhật thông tin", "UpdateInfo", "User")
    </div>
</form>

