@model BHX_2.Models.User
@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-size: 30px; text-align: center">Thông tin tài khoản</h1>
<br />
<form class="form-login" action="ForgotPassword" method="get">
    <div class="inf" >
        <ul>
            <li>Tên tài khoản:</li>
            <li>@Model.Username</li>
        </ul>
        
    </div>
    <div class="inf_s" >
        <ul>
            <li>Tên:</li>
            <li>@Model.HoTen</li>
        </ul>
      
    </div>
    <div class="inf" >
        <ul>
            <li>Ngày sinh:</li>
            <li>@Model.ngaySinh.ToString("dd/MM/yyyy")</li>
        </ul>
        
    </div>
    <div class="inf_s">
        <ul>
            <li>Địa chỉ:</li>
            <li>@Model.DiaChi</li>
        </ul>
         
    </div>
    <div class="inf">
        <ul>
            <li>Email:</li>
            <li>@Model.Email</li>
        </ul>
         
    </div>
    <div class="inf_s">
        <ul>
            <li>Số điện thoại:</li>
            <li>@Model.Phone</li>
        </ul>
        
    </div>
    <div style="text-align: center; margin-left: 25px">
        @Html.ActionLink("Đổi mật khẩu", "ChangePass", "User")
    </div>
    <div style="text-align: center; margin-left: 25px">
        @Html.ActionLink("Cập nhật thông tin", "ChangeInfo", "User")
    </div>
</form>

<link href="~/Content/Mine/personal.css" rel="stylesheet" />