@model List<BHX_2.Models.Cart>
@{
    ViewBag.Title = "ListBill";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

<h2 class="gio">
    DANH SÁCH ĐƠN HÀNG
</h2>
@if (Model == null)
{
    <p class="thongbao">Bạn không có đơn hàng nào cả :></p>
}
else
{
    foreach (var items in ViewBag.idCart)
    {
        <h1 class="donhang">Đơn hàng @items </h1>
        <h2 class="sta"> @Model.Where(s => s.IDCart == items).Select(s => s.Status).FirstOrDefault() </h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table-bordered">
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                        @foreach (var item in Model.Where(s => s.IDCart == items))
                        {
                            <tr>
                                <td class="text-center">@item.ID</td>
                                <td><a class="name_product" target="_blank" href="@Url.Action("Details","SANPHAMs",new { ProductID=item.ID})">@item.ProductName</a></td>
                                <td> @item.Amount.ToString()</td>
                                <td>@item.Price.ToString() VNĐ</td>
                                <td>@item.TotalPrice.ToString() VNĐ</td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td class="text-left">Tổng số lượng</td>
                            <td class="text-center"> @Model.Where(s => s.IDCart == items).Sum(m => m.Amount)</td>
                            <td class="text-left">Tổng thành tiền</td>
                            <td class="text-center">@Model.Where(s => s.IDCart == items).Sum(m => m.TotalPrice) VNĐ</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    }

}

<link rel="stylesheet" href="~/Content/Mine/cart.css">