@model BHX_2.Models.User

@{ ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }



<h3 style="font-size: 20px;margin-left: 5%;">Xác nhận xóa tài khoản?</h3>
<div class="around">
    <h4> Delete User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

                <div class="form-actions no-color" style="margin-left:5%">
                    <input type="submit" value="Delete" class="btn btn-default" style="color: white;background: #9a00ff;border-radius: 10px;padding: 5px;"> |
                    <a style="color: white;text-decoration: none;border-radius: 24px;border: 1px solid black;padding: 5px;background: #9a00ff;" href="/Admin/UserIndex">Back to List</a>
                </div>}
</div>

<link rel="stylesheet" href="~/Content/Mine/Create.css">
<link href="~/Content/Mine/details.css" rel="stylesheet" />